{% extends 'base.html' %}
{% block content %}
<div class="columns is-mobile">
    <div class="column is-half is-offset-one-quarter" style="align-items: center;">
        <form action="add" method="POST">
            {% csrf_token %}
            Name: {{ form.name }}<br>
            Gender: {{ form.gender }}<br>
            Date of Birth: {{ form.dob }}<br>
            Date tested: {{ form.date_tested }}<br>
            Test Result: {{ form.test_result }}<br>
            Result collected: {{ form.picked_test }}
            <br>
        
        
            <input type="submit" value="Submit">
        </form>
    </div>
</div>

{% endblock content %}
